@import "tailwindcss";

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.646 0.222 41.116);
  --primary-foreground: oklch(0.98 0.016 73.684);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --primary: oklch(0.705 0.213 47.604);
  --primary-foreground: oklch(0.98 0.016 73.684);
}

/* Clases que usan tus variables */
.bg-primary {
  background-color: var(--primary) !important;
}

.text-primary-foreground {
  color: var(--primary-foreground) !important;
}

.rounded {
  border-radius: var(--radius);
}

/* Body base */
body {
  font-family: var(--font-geist-sans), sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}